@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');
/*this link imports the Playfair Display font */

body {
    background-color: rgb(149, 248, 165);
    margin: 0;


    header{
        background-color: #8ff08c;
         font-weight: bold;
            display: flex;
            padding: 2px 50px;
            box-sizing: border-box;
            width:100%;
            justify-content: space-between;

            /* This sets the header to be fixed at the top of the page */

            position: fixed; /* This makes the header stay at the top of the page when scrolling */
            top: 0; /* This positions the header at the very top of the page */
            left: 0; /* This positions the header at the very left of the page */
            right: 0; /* This positions the header at the very right of the page */
    }
    .logo {
            color: #000000;
            font-size: 2rem;
            text-align: left;
            font-family: 'Playfair Display', sans-serif;
        }
    nav {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    nav a {
    text-decoration: none;
    font-family: 'Playfair Display', sans-serif;
    font-weight: 600;
    font-size: 20px;
}


.feature-titles {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;

    width: 100%;
    gap: 20px;
}


.feature-titles article {
    flex: 1;
    text-align: center;
}

.feature-titles h2 {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 25px;
}

.feature-titles img {
    width: 90%;
    max-width: 300px;

    border-radius: 20px;

    display: block;
    margin: auto;
}
    .home, .about-us {
        color: rgb(8, 8, 8);
        margin-right: 20px;
        margin-left: 20px;
        font-weight: bold;
        align-items: center;
        text-transform:capitalize;
    }
    .adopt-button {
        background-color: #3d3131;
        color: #f8f4f4;
        border: none;
        padding: 10px 20px;
        font-size: 18px;
        cursor: pointer;
        border-radius: 5px;
        text-decoration: none;
    }

    .read-more {
        padding: 100px 20px;
        text-align: center;
        width: 100%;
        height: 20vh;
        padding: 0px 100px;
        box-sizing: border-box;
    }

    .read-more a {
        display: inline-block;
        padding: 10px 20px;
        background-color: rgb(21, 116, 62);
        color: white;
        font-size: 15px;
    }

    .join-us {
        background-color:rgb(44, 182, 78);
        padding: 100px 20px;
        text-align: center;
        width: 100%;
        height: 25vh;
        padding: 0px 100px;
        box-sizing: border-box;
    }

    .join-us button {
        display: inline-block;
        padding: 5px 10px;
        background-color: rgb(21, 116, 62);
        color: white;
    } 

    .adopt-button{
        background-color: #000000;
        color: #f8f4f4;
        border: none;
        padding: 10px 20px;
        font-size: 18px;
        cursor: pointer;
        border-radius: 5px;
        text-decoration: none;
    }

    .feature-titles{
        display: flex;
        justify-content: space-around;
        height: 100vh;
    }

    .adopt{
        height: 100vh;
        justify-content: space-around;

    }

    .adopt p {
        font-size: 20px;
        color: #000000;
        font-family: 'Playfair Display', sans-serif;
        padding: 30px 100px;
        text-align: left;
        margin-left: 60px;
        margin-top: 120px;
        flex: 1;
        width: 45%;
}
    .care{
        height: 100vh;
        flex: 1;
}
    .dog-park{
        height: 100vh;
        flex: 1;
}
    .pancho-image{
        display: flex;
        justify-content: center;
        float:right;
        margin-right: 100px;
        flex: 1;
        width: 25%;
}
img {
    max-width: 100%;
    height: auto;
}
}